.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %p.side-bar__user-name__top-items__name
        kirihara
      %ul.side-bar__user-name__top-items__icons
        %li.side-bar__user-name__top-items__icons__icon-edit
          = link_to "#" do
            = icon('fas','edit')
        %li.side-bar__user-name__top-items__icons__icon-cog
          = link_to "#" do
            = icon('fas','cog')

  .side-bar__group
    .side-bar__group__group-list
      = link_to "#" do
        %p.side-bar__group__group-list__name
          techcamp
        %p.side-bar__group__group-list__message
          まだメッセージはありません
    .side-bar__group__group-list
      = link_to "#" do
        %p.side-bar__group__group-list__name
          techcamp
        %p.side-bar__group__group-list__message
          まだメッセージはありません
    .side-bar__group__group-list
      = link_to "#" do
        %p.side-bar__group__group-list__name
          techcamp
        %p.side-bar__group__group-list__message
          まだメッセージはありません